// ===================================
// Metrics
// ===================================
$xs:						0.25rem;
$sm:						0.5rem;
$md:						0.75rem;
$lg:						1rem;

$breakpoints: (
	xs:						568px,
	sm:						768px,
	md:						1024px,
	lg:						1280px
);
$breakpoints-min: (
	xs:						0px,
	sm:						map-get($breakpoints, xs),
	md:						map-get($breakpoints, sm),
	lg:						map-get($breakpoints, md)
);
