// ===================================
// Scaffolding
// ===================================

// Base Background
// ===================================
html, body {
	background-color: map-get($theme-primary, 1);
}

// Links
// ===================================
a {
	color: $link-color;

	&:hover, &:focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
	&:focus {
		outline: none;
	}
}
