// ===================================
// Typography
// ===================================

// Headings
// ===================================
html, body, input, button, select, option, textarea {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight-normal;
	color: $font-color;
	line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	color: $heading-font-color;
	line-height: $heading-line-height;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;

	small { color: $heading-font-color-small; }
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

.page-header {
	padding-bottom: 0.5rem;
	border-bottom: 0.125rem solid $page-header-border-color;
}

// Semantic Text Elements
// ===================================
blockquote, pre, code	{ background-color: $text-block-background-color; }
blockquote, pre			{ border-left: 0.25rem solid $text-block-border-color; }
blockquote {
	margin: 1rem 1.5rem;
	padding: 0.5rem 0.75rem;

	p, footer {
		font-size: 1.1rem;
		font-style: italic;
		font-weight: $font-weight-thin;
	}
	p { margin-bottom: 0.25rem; }

	small, footer	{ color: $blockquote-font-color; }
	small			{ font-size: 0.9rem; }

	footer::before	{ content: "\2014  "; }
	footer			{ font-weight: $font-weight-bold; }
}
pre, code, samp, .monospace {
	font-family: $font-family-monospace;
	font-size: $font-size-monospace;
}
pre {
	padding: 0.5rem;
	overflow: auto;
}
code, kbd, samp, var { padding: 0.125rem; }
kbd {
	font-size: 0.875rem;
	color: $kbd-font-color;
	background-color: $kbd-background-color;
}
mark {
	background-color: $mark-background-color;
	padding: 0 0.125rem;
}

// Lists
// ===================================
p, ul, ol, dl, pre			{ margin: 0 0 0.75rem; }
ul ul, ul ol, ol ul, ol ol	{ margin-bottom: 0; }
ul, ol						{ padding-left: 1.5rem; }
dt							{ font-weight: $font-weight-bold; }
dd							{ margin-left: 1.5rem; }

// Text Transformation
// ===================================
.text-left		{ text-align: left !important; }
.text-center	{ text-align: center !important; }
.text-right		{ text-align: right !important; }
.text-justify	{ text-align: justify !important; }

.lower	{ text-transform: lowercase !important; }
.upper	{ text-transform: uppercase !important; }
.caps	{ text-transform: capitalize !important; }

.smaller	{ font-size: 0.75rem; }
.small		{ font-size: 0.875rem; }
.large		{ font-size: 1.125rem; }
.larger		{ font-size: 1.25rem; }

.thin		{ font-weight: $font-weight-thin; }
.normal		{ font-weight: $font-weight-normal; }
.bold		{ font-weight: $font-weight-bold; }
.italic		{ font-style: italic; }

.nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// Contextual Emphasis
// ===================================
.text-primary	{ @include text-emphasis($font-color, darken($font-color, 5%)); }
.text-inverse	{ @include text-emphasis($font-color-inverse, darken($font-color-inverse, 5%)); }
.text-accent	{ @include text-emphasis($theme-accent, $theme-accent-dark); }
.text-muted		{ @include text-emphasis($theme-muted, $theme-muted-dark); }
.text-success	{ @include text-emphasis($theme-success, $theme-success-dark); }
.text-warning	{ @include text-emphasis($theme-warning, $theme-warning-dark); }
.text-danger	{ @include text-emphasis($theme-danger, $theme-danger-dark); }
.text-info		{ @include text-emphasis($theme-info, $theme-info-dark); }
