// ===================================
// Utility
// ===================================

// Positioning / Alignment
// ===================================
.float-left		{ float: left !important; }
.float-right	{ float: right !important; }
.clearfix		{ @include clearfix(); }

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Sizing
// ===================================
.full-w	{ width: 100%; }
.full-h	{ height: 100%; }

// Visiblity
// ===================================
@each $breakpoint in map-keys($breakpoints) {
	@include breakpoint($breakpoint) {
		.hide					{ display: none !important; }
		.show-#{$breakpoint}	{ display: initial !important; }
		.invisible				{ visibility: hidden !important; }
		.visible-#{$breakpoint}	{ visibility: visible !important; }
	}
}

// Contextual Emphasis
// ===================================
.bg-primary	{ @include background-emphasis($theme-background, darken($theme-background, 5%)); }
.bg-inverse	{ @include background-emphasis($theme-background-inverse, darken($theme-background-inverse, 5%)); }
.bg-accent	{ @include background-emphasis($theme-accent, $theme-accent-dark); }
.bg-muted	{ @include background-emphasis($theme-muted, $theme-muted-dark); }
.bg-success	{ @include background-emphasis($theme-success, $theme-success-dark); }
.bg-warning	{ @include background-emphasis($theme-warning, $theme-warning-dark); }
.bg-danger	{ @include background-emphasis($theme-danger, $theme-danger-dark); }
.bg-info	{ @include background-emphasis($theme-info, $theme-info-dark); }

.bd-primary	{ @include border-emphasis($theme-background, darken($theme-background, 5%)); }
.bd-inverse	{ @include border-emphasis($theme-background-inverse, darken($theme-background-inverse, 5%)); }
.bd-accent	{ @include border-emphasis($theme-accent, $theme-accent-dark); }
.bd-muted	{ @include border-emphasis($theme-muted, $theme-muted-dark); }
.bd-success	{ @include border-emphasis($theme-success, $theme-success-dark); }
.bd-warning	{ @include border-emphasis($theme-warning, $theme-warning-dark); }
.bd-danger	{ @include border-emphasis($theme-danger, $theme-danger-dark); }
.bd-info	{ @include border-emphasis($theme-info, $theme-info-dark); }

// Appearance
// ===================================
.bd-round { border-radius: $border-radius; }
